@charset "utf-8";
@import url('/pcms/common/font/font_gothic.css');

body{overflow-x: hidden;}

#body_layout{position: relative;z-index:14}
#body_layout .body_wrap{
  position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  padding-bottom: 50px;
}

.contents_wrap{
  position:relative;
  margin: 0 auto;
width: 100%;
max-width: 1240px;
padding-top: 44px;
}
#txt {width: 100%;text-align:left;}
#tab_moType1.mobile {margin:0 0 30px;}

#svisual_layout {height: 440px;padding: 190px 0 0;background: url(/images/tour/common/sub_img01.jpg)no-repeat center / cover;text-align: center;}
#svisual_layout .svisual_wrap {}
#svisual_layout .svisual_wrap .subvisual-layout {}
#svisual_layout .svisual_wrap .subvisual-layout strong {}
#svisual_layout .svisual_wrap .subvisual-layout span {display:block; font-size:21px; font-weight:bold; font-family:'score'; color:#fff; }
#svisual_layout .svisual_wrap .subvisual-layout img {margin:-40px 0 0;}

.lnb__title{display: none;}
.lnb__title:before{display:inline-block;height:100%;content:"";vertical-align:middle;}
.lnb__title strong{color:#fff;font-size:26px;font-weight: bold;line-height:1}


.navigation .path li{display: block;position: relative;padding: 0 17px;/* padding-right: 14px; */}
.navigation .path li:first-child{padding-left:0;}
.navigation .path li:before{
  display: inline-block;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  top: 11px;
  right: -2.5px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_596_3244' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.53557 4.70712L4.24268 4.00001L0.707141 0.464477L3.47782e-05 1.17158L2.8284 3.99995L-7.56184e-05 6.82843L0.707031 7.53553L3.53551 4.70706L3.53557 4.70712Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.53557 4.70712L4.24268 4.00001L0.707141 0.464477L3.47782e-05 1.17158L2.8284 3.99995L-7.56184e-05 6.82843L0.707031 7.53553L3.53551 4.70706L3.53557 4.70712Z' fill='%23888888'/%3E%3Cpath d='M4.24268 4.00001L4.94978 4.70712L5.65689 4.00001L4.94978 3.2929L4.24268 4.00001ZM3.53557 4.70712L2.82915 5.41491L3.53626 6.12064L4.24268 5.41422L3.53557 4.70712ZM0.707141 0.464477L1.41425 -0.242629L0.707141 -0.949736L3.43632e-05 -0.242629L0.707141 0.464477ZM3.47782e-05 1.17158L-0.707072 0.464477L-1.41418 1.17158L-0.707072 1.87869L3.47782e-05 1.17158ZM2.8284 3.99995L3.53551 4.70706L4.24261 3.99995L3.53551 3.29284L2.8284 3.99995ZM-7.56184e-05 6.82843L-0.707183 6.12132L-1.41429 6.82843L-0.707182 7.53553L-7.56184e-05 6.82843ZM0.707031 7.53553L-7.56803e-05 8.24264L0.707031 8.94975L1.41414 8.24264L0.707031 7.53553ZM3.53551 4.70706L4.24192 3.99926L3.53482 3.29353L2.8284 3.99995L3.53551 4.70706ZM3.53557 3.2929L2.82846 4.00001L4.24268 5.41422L4.94978 4.70712L3.53557 3.2929ZM3.47782e-05 1.17158L3.53557 4.70712L4.94978 3.2929L1.41425 -0.242629L3.47782e-05 1.17158ZM0.707142 1.87869L1.41425 1.17158L3.43632e-05 -0.242629L-0.707072 0.464477L0.707142 1.87869ZM3.53551 3.29284L0.707141 0.464477L-0.707072 1.87869L2.12129 4.70706L3.53551 3.29284ZM0.707031 7.53553L3.53551 4.70706L2.12129 3.29284L-0.707183 6.12132L0.707031 7.53553ZM1.41414 6.82843L0.707031 6.12132L-0.707182 7.53553L-7.56803e-05 8.24264L1.41414 6.82843ZM2.8284 3.99995L-7.56184e-05 6.82843L1.41414 8.24264L4.24261 5.41416L2.8284 3.99995ZM4.24199 3.99932L4.24192 3.99926L2.82909 5.41485L2.82915 5.41491L4.24199 3.99932Z' fill='white' mask='url(%23path-1-inside-1_596_3244)'/%3E%3C/svg%3E%0A");
}
.navigation .path li:last-child:before{display:none}
.navigation .path>li>button{
  display: block;
  min-height: 14px;
  font-size: 18px;
  color: #555555;
  position: relative;
  padding-left: 0;
  padding-right: 30px;
  /* min-width: 230px; */
  text-align: left;
  color: #fff;
  font-family: 'Pretendard';
}

.navigation .path>li>button:before{
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: calc(50% - 9px);
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_596_3228' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.53565 4.7425L3.53576 4.74262L7.07129 1.20708L6.36418 0.499974L3.53576 3.3284L0.707218 0.499863L0.000111271 1.20697L2.82865 4.03551L3.53565 4.7425Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.53565 4.7425L3.53576 4.74262L7.07129 1.20708L6.36418 0.499974L3.53576 3.3284L0.707218 0.499863L0.000111271 1.20697L2.82865 4.03551L3.53565 4.7425Z' fill='%23888888'/%3E%3Cpath d='M3.53576 4.74262L2.82333 5.44436L3.5304 6.16219L4.24286 5.44972L3.53576 4.74262ZM3.53565 4.7425L4.24809 4.04074L4.24275 4.0354L3.53565 4.7425ZM7.07129 1.20708L7.7784 1.91419L8.4855 1.20708L7.7784 0.499973L7.07129 1.20708ZM6.36418 0.499974L7.07129 -0.207133L6.36418 -0.91424L5.65707 -0.207133L6.36418 0.499974ZM3.53576 3.3284L2.82865 4.03551L3.53576 4.74261L4.24286 4.03551L3.53576 3.3284ZM0.707218 0.499864L1.41432 -0.207243L0.707218 -0.91435L0.000111147 -0.207243L0.707218 0.499864ZM0.000111271 1.20697L-0.706995 0.499864L-1.4141 1.20697L-0.706995 1.91408L0.000111271 1.20697ZM2.82865 4.03551L2.12154 4.74262L2.12154 4.74262L2.82865 4.03551ZM4.24818 4.04087L4.24807 4.04076L2.82322 5.44425L2.82333 5.44436L4.24818 4.04087ZM6.36418 0.499974L2.82865 4.03551L4.24286 5.44972L7.7784 1.91419L6.36418 0.499974ZM5.65708 1.20708L6.36418 1.91419L7.7784 0.499973L7.07129 -0.207133L5.65708 1.20708ZM4.24286 4.03551L7.07129 1.20708L5.65707 -0.207133L2.82865 2.62129L4.24286 4.03551ZM0.000111271 1.20697L2.82865 4.03551L4.24286 2.62129L1.41432 -0.207243L0.000111271 1.20697ZM0.707218 1.91408L1.41432 1.20697L0.000111147 -0.207243L-0.706995 0.499864L0.707218 1.91408ZM3.53576 3.3284L0.707218 0.499864L-0.706995 1.91408L2.12154 4.74262L3.53576 3.3284ZM4.24275 4.0354L3.53575 3.3284L2.12154 4.74262L2.82854 5.44961L4.24275 4.0354Z' fill='white' mask='url(%23path-1-inside-1_596_3228)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.5);
  background-position: center center;
  background-size: auto;
  border-radius: 5px;
}
.navigation .path>li.n3>button:before{background-position: 5px 6px;}


.navigation .dropdown-menu{
  min-width:134px;
  width: auto;
  margin: 0;
  font-size: 14px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 0;
  left: 11px;
  top: 33px;
  padding-left: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 13px 0;
}
.navigation .dropdown-menu li{
  padding-left: 0;
  padding-right: 0;
}
.navigation .dropdown-menu li::before{display:none}
.navigation .dropdown-menu li:last-child{
  /* border-bottom: 1px solid #dddddd; */
}
.navigation .dropdown-menu>li>a{
  font-size: 15px;
  padding: 3px 15px;
  width: 100%;
  text-align: left;
  color: #444;
}

.navigation .dropdown-menu>li>a:hover,
.navigation .dropdown-menu>li>a:focus{color:#4478FF;background: transparent;}

.navigation .dropdown-menu>li>a[target="_blank"]:after{
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 15px;
  width: 11px;
  height: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  transform: none;
  content: '';
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2 0H0V10H10V5.8H8.8V8.8H1.2V1.2H4.2V0Z' fill='%23C0C0C0'/%3E%3Cpath d='M5.4 0H10V1.2H5.4V0Z' fill='%23C0C0C0'/%3E%3Cpath d='M10 0V4.6H8.8V0H10Z' fill='%23C0C0C0'/%3E%3Cpath d='M9.41553 1.4061L5.9671 4.85453L5.1609 4.04833L8.60932 0.5999L9.41553 1.4061Z' fill='%23C0C0C0'/%3E%3C/svg%3E%0A");
}


.navigation .dropdown-menu>li>a[target="_blank"]:hover:after,
.navigation .dropdown-menu>li>a[target="_blank"]:focus:after,
.navigation .dropdown-menu>li>a[target="_blank"]:active:after{
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2 0H0V10H10V5.8H8.8V8.8H1.2V1.2H4.2V0Z' fill='%234478FF'/%3E%3Cpath d='M5.4 0H10V1.2H5.4V0Z' fill='%234478FF'/%3E%3Cpath d='M10 0V4.6H8.8V0H10Z' fill='%234478FF'/%3E%3Cpath d='M9.41553 1.4061L5.9671 4.85453L5.1609 4.04833L8.60932 0.5999L9.41553 1.4061Z' fill='%234478FF'/%3E%3C/svg%3E%0A");
}

#lnb_layout .utile_wrap {display: block;/* float:right; */margin: 0;position: relative;/* top: 59px; *//* right: 0; */max-width: 1320px;width: 100%;margin: 0 auto;padding: 0 40px;margin-top: 34px; z-index: 50;}
#lnb_layout .utile_wrap:after {display:block; clear:both; visibility:hidden; content:'';}
#lnb_layout .utile_wrap .print_wrap {display:inline-block;position: relative;/* top: -3px; */}
#lnb_layout .utile_wrap .print_wrap:before {display:inline-block;float: left;content:'';width:1px;height:12px;margin: 5px 10px 0;background:#c0c0c0;vertical-align: middle;display: none;}
#lnb_layout .utile_wrap .print_wrap:after{display:block; clear:both; visibility:hidden; content:'';}
#lnb_layout .utile_wrap .print_wrap > li {float:left;margin-left: 8px;}
#lnb_layout .utile_wrap .print_wrap > li .tmpl_ir {font-size:0;background-position: center center;background-repeat: no-repeat; width:100%;height:100%;display:block;}

#lnb_layout .utile_wrap .print_wrap > li > button {display:block;width: 36px;height: 36px;transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out; border-radius: 12px;border: 1px solid #E9E9E9;}


#lnb_layout .utile_wrap .print_wrap > li.sns > button {}
#lnb_layout .utile_wrap .print_wrap > li.sns > button span {display:block;width: 100%;height:100%;background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 4C9.32842 4 10 3.32842 10 2.5C10 1.67157 9.32842 1 8.5 1C7.67158 1 7 1.67157 7 2.5C7 3.32842 7.67158 4 8.5 4Z' stroke='white' stroke-linejoin='round'/%3E%3Cpath d='M2.5 8C3.32842 8 4 7.32842 4 6.5C4 5.67158 3.32842 5 2.5 5C1.67158 5 1 5.67158 1 6.5C1 7.32842 1.67158 8 2.5 8Z' stroke='white' stroke-linejoin='round'/%3E%3Cpath d='M8.5 9C9.32842 9 10 9.67158 10 10.5C10 11.3284 9.32842 12 8.5 12C7.67158 12 7 11.3284 7 10.5C7 9.67158 7.67158 9 8.5 9Z' stroke='white' stroke-linejoin='round'/%3E%3Cline x1='0.5' y1='-0.5' x2='3.63982' y2='-0.5' transform='matrix(0.856369 -0.516365 0.512629 0.85861 3.71484 6.1377)' stroke='white' stroke-linecap='square'/%3E%3Cline x1='0.5' y1='-0.5' x2='3.63951' y2='-0.5' transform='matrix(-0.864953 -0.501853 0.49815 -0.867091 7.27783 8.95776)' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A"); background-size: 12px;}
#lnb_layout .utile_wrap .print_wrap > li.sns .sns_wrap {position:absolute;left: 8px;top: 0;width: 36px;text-align: left;width:36px;display:none}
#lnb_layout .utile_wrap .print_wrap > li.sns.on  .sns_wrap {display:block;/* display:flex; */width:270px;padding-top: 42px;}

#lnb_layout .utile_wrap .print_wrap > li.sns > div button {display: inline-block;float: left;width: 36px;height: 36px;margin: 0  8px 0 0;border-radius: 12px;border: 1px solid #E9E9E9;background-color: #fff;/* float: left; */}





#lnb_layout .utile_wrap .print_wrap > li.sns > div .fa {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9C18 4.02947 13.9705 0 9 0C4.02947 0 0 4.0294 0 9C0 13.4921 3.29119 17.2155 7.59375 17.8907V11.6016H5.30859V9H7.59375V7.01719C7.59375 4.76156 8.93742 3.51562 10.9931 3.51562C11.9779 3.51562 13.0078 3.69141 13.0078 3.69141V5.90625H11.873C10.7549 5.90625 10.4062 6.60002 10.4062 7.3118V9H12.9023L12.5033 11.6016H10.4062V17.8907C14.7088 17.2155 18 13.4922 18 9Z' fill='%231877F2'/%3E%3Cpath d='M12.5033 11.6016L12.9023 9H10.4062V7.3118C10.4062 6.59995 10.7549 5.90625 11.873 5.90625H13.0078V3.69141C13.0078 3.69141 11.9779 3.51562 10.9931 3.51562C8.93742 3.51562 7.59375 4.76156 7.59375 7.01719V9H5.30859V11.6016H7.59375V17.8907C8.05895 17.9636 8.52912 18.0001 9 18C9.47088 18.0001 9.94105 17.9636 10.4062 17.8907V11.6016H12.5033Z' fill='white'/%3E%3C/svg%3E%0A");
}
#lnb_layout .utile_wrap .print_wrap > li.sns > div .tw {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2952 1.10603C18.2952 1.10603 16.5645 2.03459 16.0362 1.87964C16.0362 1.87964 14.8713 0.794983 13.2854 0.794983C11.7007 0.794983 9.6235 1.95912 9.6235 4.3703C9.6235 4.3703 9.56898 4.83744 9.71497 5.04442C9.71497 5.04442 5.397 5.45667 2.02647 1.48455C2.02647 1.48455 0.332115 4.11585 3.13867 6.04159C3.13867 6.04159 2.41537 6.36865 1.51943 5.73169C1.51943 5.73169 1.35284 8.27724 4.46713 9.15377C4.46713 9.15377 3.83047 9.46367 2.84608 9.29157C2.84608 9.29157 3.35614 11.5438 6.27113 11.6644C6.27113 11.6644 4.37627 13.4175 0.824005 13.143C0.824005 13.143 6.74182 17.492 13.7591 12.0773C13.7591 12.0773 17.0206 9.42879 17.0024 4.25251C17.0024 4.25251 18.3509 3.41028 18.824 2.53261C18.824 2.53261 18.1316 3.11754 16.7844 2.92828C16.7838 2.92828 18.2225 1.98256 18.2952 1.10603Z' fill='%232AADE3'/%3E%3C/svg%3E%0A");
}

#lnb_layout .utile_wrap .print_wrap > li.sns > div .bl {background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.42745 7.01135C4.04173 7.01135 3.72852 7.3276 3.72852 7.71705C3.72852 8.1065 4.04173 8.42275 4.42745 8.42275C4.81316 8.42275 5.12638 8.1065 5.12638 7.71705C5.12638 7.3276 4.81316 7.01135 4.42745 7.01135Z' fill='%2342D31A'/%3E%3Cpath d='M11.328 8.45588C11.7434 8.45588 12.0802 8.11582 12.0802 7.69633C12.0802 7.27683 11.7434 6.93677 11.328 6.93677C10.9125 6.93677 10.5757 7.27683 10.5757 7.69633C10.5757 8.11582 10.9125 8.45588 11.328 8.45588Z' fill='%2342D31A'/%3E%3Cpath d='M17.5745 0H2.71366C1.21458 0 0 1.22634 0 2.73993V11.6447C0 13.1583 1.21458 14.3847 2.71366 14.3847H7.96316L9.7481 18.6313C9.7481 18.6313 9.8712 19 10.168 19C10.4662 19 10.5879 18.6313 10.5879 18.6313L12.3728 14.3847H17.5731C19.0722 14.3847 20.2868 13.1583 20.2868 11.6447V2.73993C20.2868 1.22634 19.0722 0 17.5731 0H17.5745ZM6.37381 7.87178C6.3656 9.5 4.69829 9.54557 4.69829 9.54557C4.05407 9.54557 3.68888 9.1147 3.68888 9.1147V9.40747H2.4743V4.35296C2.4743 4.35296 2.46883 4.35158 2.4743 4.3502V4.35296C2.54952 4.36539 3.68888 4.3502 3.68888 4.3502V6.28362C3.97474 5.79198 4.79951 5.80026 4.79951 5.80026C6.59676 5.96875 6.37244 7.87178 6.37244 7.87178H6.37381ZM8.51027 5.95494V9.41576H7.32167V5.98946C7.32167 5.52268 6.74858 5.39424 6.74858 5.39424V4.18586C8.64704 4.26319 8.51027 5.95494 8.51027 5.95494ZM11.3265 9.54834C10.2268 9.54834 9.33503 8.71973 9.33503 7.69639C9.33503 6.67306 10.2268 5.84445 11.3265 5.84445C12.4262 5.84445 13.318 6.67306 13.318 7.69639C13.318 8.71973 12.4262 9.54834 11.3265 9.54834ZM17.8357 9.54834C17.8357 9.54834 17.8521 11.3064 16.0836 11.3064H15.5447V10.167H15.8689C15.8689 10.167 16.6129 10.2361 16.6034 9.07879C16.6034 9.07879 16.4584 9.54695 15.4148 9.54695C15.4148 9.54695 13.9362 9.43924 13.9362 7.98226V7.42986C13.9362 7.42986 13.9704 5.91903 15.5939 5.79888C15.5939 5.79888 16.2354 5.72983 16.628 6.26566V5.89417H17.833V9.54695L17.8357 9.54834Z' fill='%2342D31A'/%3E%3Cpath d='M15.9484 8.43829C16.354 8.43829 16.6829 8.10626 16.6829 7.69668C16.6829 7.28711 16.354 6.95508 15.9484 6.95508C15.5427 6.95508 15.2139 7.28711 15.2139 7.69668C15.2139 8.10626 15.5427 8.43829 15.9484 8.43829Z' fill='%2342D31A'/%3E%3C/svg%3E%0A");}

#lnb_layout .utile_wrap .print_wrap > li.sns > div .ca{background-image: url("data:image/svg+xml,%3Csvg width='7' height='15' viewBox='0 0 7 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99887 7.61605V0.35563C6.99887 0.159156 6.85934 0 6.68709 0H0.311772C0.139529 0 0 0.159156 0 0.35563V7.61605C0 7.81214 0.139529 7.97092 0.311772 7.97092H3.33804C3.28296 10.4356 1.07585 12.0531 1.07585 12.0531C0.993067 12.5565 1.07585 12.5877 1.07585 12.5877L3.03461 14.9161C3.25526 15.1049 3.49927 14.9161 3.49927 14.9161C7.1641 11.2657 6.99887 7.61605 6.99887 7.61605Z' fill='%23FAC013'/%3E%3C/svg%3E%0A");}
#lnb_layout .utile_wrap .print_wrap > li.sns > div .band{}
#lnb_layout .utile_wrap .print_wrap > li.sns > div .kakao{background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z' fill='%23FCEE2D'/%3E%3Cpath d='M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z' fill='%23FCEE2D'/%3E%3Cpath d='M7.8194 9.01481H8.13227L7.97584 8.67436L7.8194 9.01481Z' fill='%233D1E1E'/%3E%3Cpath d='M9.16953 4.60202C6.3458 4.60202 4.0564 6.40962 4.0564 8.64068C4.0564 9.96562 4.86732 11.1417 6.11535 11.8786C6.37714 12.0336 6.14815 12.4178 6.14815 12.4178L5.12157 13.7614C5.10299 13.8162 5.11838 13.8754 5.15843 13.9149C5.18629 13.9428 5.22316 13.9579 5.26263 13.9579C5.2931 13.9579 5.32387 13.9457 5.35173 13.9242C5.35173 13.9242 5.98126 13.7982 6.86358 13.3661C7.58337 13.0419 8.24831 12.6111 8.24831 12.6111C8.54929 12.6541 8.85636 12.6788 9.16953 12.6788C11.9927 12.6788 14.2821 10.8709 14.2821 8.6401C14.2821 6.40962 11.9924 4.60202 9.16953 4.60202ZM6.58264 9.79845H6.58176C6.58205 9.80425 6.58264 9.80948 6.58264 9.81499C6.58264 10.0141 6.42126 10.1752 6.22245 10.1752C6.02364 10.1752 5.86256 10.0138 5.86256 9.81499C5.86256 9.80948 5.86314 9.80425 5.86314 9.79845H5.86256V8.09678H5.38018V8.09533C5.20981 8.08314 5.07514 7.9415 5.07514 7.76765C5.07514 7.5938 5.20981 7.45245 5.38018 7.43968V7.43881H6.98549C7.16718 7.43881 7.31433 7.58596 7.31433 7.76765C7.31433 7.94934 7.16718 8.09678 6.98549 8.09678H6.58264V9.79845ZM12.9032 10.1589C12.7862 10.1589 12.682 10.1026 12.6164 10.0158L12.6161 10.0161L11.9904 9.16892L11.8583 9.30069V9.80802C11.8583 10.0071 11.6972 10.1685 11.4987 10.1685C11.3434 10.1685 11.2119 10.0689 11.1614 9.93138C11.1295 10.0669 11.0082 10.1685 10.8628 10.1685V10.1752H9.51897V10.1665C9.3843 10.154 9.2714 10.0669 9.22118 9.94734C9.21567 9.9604 9.21249 9.97433 9.20552 9.98681C9.14457 10.0991 9.02587 10.1752 8.88887 10.1752H8.88857C8.87 10.1752 8.85085 10.1731 8.83286 10.1702C8.82967 10.17 8.82675 10.1694 8.82356 10.1685C8.80585 10.1653 8.78903 10.1612 8.77249 10.1551C8.76958 10.154 8.76667 10.1534 8.76377 10.1522C8.74665 10.1459 8.73069 10.1383 8.71502 10.1299C8.71444 10.1296 8.71385 10.129 8.71298 10.1287C8.69673 10.12 8.68164 10.1096 8.66684 10.098C8.66626 10.0974 8.66567 10.0968 8.6648 10.0965C8.65 10.0849 8.63665 10.0716 8.62388 10.0579C8.62301 10.0568 8.62214 10.0559 8.62127 10.0553C8.58209 10.0118 8.55393 9.95924 8.53941 9.90061L8.42303 9.64665H7.52969L7.413 9.90061C7.3744 10.0579 7.23277 10.1749 7.06356 10.1749C6.86475 10.1749 6.70367 10.0135 6.70367 9.8147C6.70367 9.76826 6.71266 9.72385 6.72891 9.68322L6.7295 9.68148C6.73385 9.67132 6.7382 9.66087 6.74342 9.651L7.61646 7.73456C7.64664 7.56622 7.7938 7.43852 7.97084 7.43852C7.97287 7.43852 7.9749 7.43881 7.97694 7.43881C7.97897 7.43881 7.98071 7.43852 7.98303 7.43852C8.15978 7.43852 8.30665 7.56593 8.33713 7.73456L9.19334 9.61415V7.86923H9.19622C9.19477 7.8553 9.19334 7.84108 9.19334 7.82686C9.19334 7.62805 9.3547 7.46667 9.55351 7.46667C9.75233 7.46667 9.91341 7.62834 9.91341 7.82686C9.91341 7.84137 9.91254 7.85559 9.9108 7.86923H9.91341V9.5532H10.8634C10.985 9.5532 11.0889 9.6243 11.1388 9.72705V7.82947C11.1388 7.63066 11.3005 7.46957 11.4993 7.46957C11.6981 7.46957 11.8589 7.63095 11.8589 7.82947V8.28253L12.5499 7.59147C12.6164 7.51688 12.7125 7.46957 12.8199 7.46957C13.019 7.46957 13.1795 7.63095 13.1795 7.82947C13.1795 7.92176 13.1449 8.00535 13.088 8.06892L13.0886 8.0695L13.0828 8.0753C13.077 8.08111 13.0715 8.08662 13.0654 8.09272L12.5049 8.65346L13.1841 9.57264C13.234 9.63446 13.2639 9.71283 13.2639 9.79874C13.2633 9.99755 13.102 10.1589 12.9032 10.1589Z' fill='%233D1E1E'/%3E%3Cellipse cx='9.14247' cy='8.70715' rx='5.07917' ry='2.32191' fill='%233D1E1E'/%3E%3C/svg%3E%0A");}


#lnb_layout .utile_wrap .print_wrap > li.sns > div .clickClose {border: 1px solid #E9E9E9;background-color: #000000;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.80764 0.807518C0.865697 0.749314 0.934667 0.703135 1.0106 0.671627C1.08653 0.640119 1.16793 0.623901 1.25014 0.623901C1.33235 0.623901 1.41375 0.640119 1.48968 0.671627C1.56561 0.703135 1.63458 0.749314 1.69264 0.807518L5.00014 4.11627L8.30764 0.807518C8.36575 0.749408 8.43474 0.703313 8.51066 0.671864C8.58658 0.640415 8.66796 0.624229 8.75014 0.624229C8.83232 0.624229 8.9137 0.640415 8.98962 0.671864C9.06554 0.703313 9.13453 0.749408 9.19264 0.807518C9.25075 0.865628 9.29685 0.934615 9.32829 1.01054C9.35974 1.08646 9.37593 1.16784 9.37593 1.25002C9.37593 1.3322 9.35974 1.41357 9.32829 1.4895C9.29685 1.56542 9.25075 1.63441 9.19264 1.69252L5.88389 5.00002L9.19264 8.30752C9.25075 8.36563 9.29685 8.43461 9.32829 8.51054C9.35974 8.58646 9.37593 8.66784 9.37593 8.75002C9.37593 8.8322 9.35974 8.91357 9.32829 8.9895C9.29685 9.06542 9.25075 9.13441 9.19264 9.19252C9.13453 9.25063 9.06554 9.29672 8.98962 9.32817C8.9137 9.35962 8.83232 9.37581 8.75014 9.37581C8.66796 9.37581 8.58658 9.35962 8.51066 9.32817C8.43474 9.29672 8.36575 9.25063 8.30764 9.19252L5.00014 5.88377L1.69264 9.19252C1.63453 9.25063 1.56554 9.29672 1.48962 9.32817C1.4137 9.35962 1.33232 9.37581 1.25014 9.37581C1.16796 9.37581 1.08659 9.35962 1.01066 9.32817C0.934737 9.29672 0.86575 9.25063 0.80764 9.19252C0.74953 9.13441 0.703435 9.06542 0.671986 8.9895C0.640537 8.91357 0.624351 8.8322 0.624351 8.75002C0.624351 8.66784 0.640537 8.58646 0.671986 8.51054C0.703435 8.43461 0.74953 8.36563 0.80764 8.30752L4.11639 5.00002L0.80764 1.69252C0.749436 1.63446 0.703258 1.56549 0.671749 1.48956C0.640241 1.41363 0.624023 1.33223 0.624023 1.25002C0.624023 1.16781 0.640241 1.08641 0.671749 1.01048C0.703258 0.934545 0.749436 0.865575 0.80764 0.807518Z' fill='white'/%3E%3C/svg%3E%0A");top: 0;position: absolute;}
#lnb_layout .utile_wrap .print_wrap > li.sns > div .clickClose span {display:block;width:100%;height:100%;background-position: 0 -134px;}
#lnb_layout .utile_wrap .print_wrap > li.n2 > button span {display:block;background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.86027 11.2071C7.86027 11.2071 11.3399 7.62832 12.2098 6.73362C13.0797 5.83889 13.5147 3.60214 11.9923 2.03639C10.47 0.470657 8.29523 0.918009 7.42529 1.81272C6.55539 2.70741 1.98837 7.40464 1.55341 7.85199C1.11846 8.29934 0.466023 9.8651 1.77089 11.2071C3.07575 12.5492 4.59811 11.8782 5.03306 11.4308C5.46801 10.9835 10.2525 6.06256 10.6875 5.61521C11.1224 5.16787 11.3399 4.04949 10.6875 3.37847C10.035 2.70741 8.94765 2.93109 8.5127 3.37847C8.07775 3.82582 4.38064 7.62832 4.38064 7.62832' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); background-size: 16px;}
#lnb_layout .utile_wrap .print_wrap > li.n3 > button span {display:block;background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3125 9.75H3.1875V13.5H11.3125V9.75Z' stroke='white' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 6H13.5V11.625H11.3179V9.75H3.18141V11.625H1V6Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.625 1H2.875V6H11.625V1Z' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); background-size: 15px;}
#lnb_layout .utile_wrap .location_wrap {display:inline-block; position:relative;}
#lnb_layout .utile_wrap .location_wrap:after {display:block; clear:both; visibility:hidden; content:'';}
#lnb_layout .utile_wrap .location_wrap li {float: left;position:relative;}
#lnb_layout .utile_wrap .location_wrap li:not(:last-child):after {display:inline-block;content:'';margin: 10px 10px 0;border-top:3px solid transparent;border-bottom:3px solid transparent;border-left:5px solid #c5c5c5;vertical-align: top;}
#lnb_layout .utile_wrap .location_wrap li a {display:inline-block;position:relative;line-height: 25px;vertical-align: top;font-size: 15px;}
#lnb_layout .utile_wrap .location_wrap li.home a {width:16px;height:17px;margin: 4px 0 0;background: url(/images/tour/common/ico_ir.png)no-repeat -21px 0;font-size: 0;}







/* location */
#location{position:relative;z-index: 20;width:100%;margin: 0 0 20px;padding: 22px 0px 0px;text-align:center; display:none}
#location:after {display:block; clear:both; visibility:hidden ;content:''; }
#location .page__title {line-height: 1.3;font-size: 30px;font-weight: 700;font-family: 'GmarketSans';color: #222222;text-align: left;}


#lnb_layout{height: 401px;background: #f1f5fb;box-sizing: border-box;background: #4c7dff;padding-top: 105px;}
.navigation{width: 100%;padding-top: 74px;z-index: 52; position:relative}
.navigation .layout,.sub-description  .layout{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;


}

.navigation .layout{z-index: 11;}

.navigation .path{

display: flex;

align-items: flex-start;

justify-content: flex-start;


}
.navigation .path .n1{
 
}
.navigation .path .n1 a{
  display: block;
  width: 16px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0292 8.2428L8.27997 0.743635C7.99575 0.42717 7.44981 0.42717 7.1656 0.743635L0.416349 8.2428C0.319202 8.35048 0.255436 8.48407 0.232803 8.62733C0.21017 8.77058 0.229646 8.91732 0.288863 9.04971C0.40885 9.32043 0.67732 9.49441 0.973537 9.49441H2.47337V14.7438C2.47337 14.9427 2.55238 15.1335 2.69301 15.2741C2.83365 15.4147 3.0244 15.4937 3.22329 15.4937H5.47303C5.67192 15.4937 5.86267 15.4147 6.0033 15.2741C6.14394 15.1335 6.22295 14.9427 6.22295 14.7438V11.7442H9.22262V14.7438C9.22262 14.9427 9.30162 15.1335 9.44226 15.2741C9.5829 15.4147 9.77364 15.4937 9.97253 15.4937H12.2223C12.4212 15.4937 12.6119 15.4147 12.7526 15.2741C12.8932 15.1335 12.9722 14.9427 12.9722 14.7438V9.49441H14.472C14.6173 9.49503 14.7595 9.45337 14.8815 9.37453C15.0035 9.29569 15.0999 9.18306 15.1589 9.05038C15.218 8.9177 15.2372 8.77069 15.2142 8.6273C15.1911 8.4839 15.1269 8.35031 15.0292 8.2428Z' fill='white'/%3E%3C/svg%3E%0A");
  font-size: 0;
  min-height: 23px;
  background-position: center 2px;
  background-repeat: no-repeat;
}
.navigation .layout:after{
  display: none;
}

.sub-description{}
.sub-description *{color:#F9F9F9}
.sub-description .layout{position:relative; }
.sub-description .layout:before,.sub-description .sub-obj{content:'';display:block; background-position: center center; background-repeat: no-repeat; position:absolute;  }
.sub-description .layout:before{left:40px;background-image:url('/images/wysl/common/lnb_obj.png');width:571px;height: 152px;bottom: -191px;background-position: -30px center;}

.sub-description .sub-obj{right: -247px;width: 656px;height: 400px;top: -236px;visibility: visible;}
.sub-description .sub-obj:before,.sub-description .sub-obj:after{content: ''; display:block; width:100%;height:100%;background-size: 100%; background-repeat: no-repeat;}

.sub-description .sub-obj:before{background-image: url('/images/wysl/common/obj_bg.png');}
.sub-description .sub-obj:after{position: absolute;width:411px;height: 300px; left:0;bottom:0}
.sub-description.depth1_sub01 .sub-obj:after{ background-image: url('/images/wysl/common/sub01_obj.png');}
.sub-description.depth1_sub02 .sub-obj:after{background-image: url('/images/wysl/common/sub02_obj.png');}
.sub-description.depth1_sub03 .sub-obj:after{background-image: url('/images/wysl/common/sub03_obj.png');}
.sub-description.depth1_sub04 .sub-obj:after{background-image: url('/images/wysl/common/sub04_obj.png');}
.sub-description.depth1_sub05 .sub-obj:after{background-image: url('/images/wysl/common/sub05_obj.png');}
.sub-description.depth1_sub06 .sub-obj:after{background-image: url('/images/wysl/common/sub06_obj.png');}


.sub-description .depth1_title{font-family: 'GmarketSans';font-size: 40px;line-height: 1;display: block;margin-top: 35px;}
.sub-description .dsc{font-size: 15px;  line-height: 1.2;}

/* location */


@media screen and (max-width:1320px){
    
  .contents_wrap {padding-left:40px;padding-right: 40px;}

}



@media screen and (max-width:1279px){
    
    .contents_wrap {float:none; width:100%;}

  
}

@media screen and (max-width:1024px){

  #location {padding: 57px 0px 0px}
  #lnb_layout{height: 371px;}

  .navigation{padding-top: 47px;}
  .sub-description .layout:before{background-size: 100%;width:564px;}
  .sub-description .sub-obj:before{display:none}
  .sub-description .sub-obj{width:405px;height:300px;right: 0;top: -138px;}
  .sub-description .sub-obj:after{width:100%;height:100%;bottom:-3px}

  
}

@media screen and (max-width:767px){
  .contents_wrap{padding-left:20px;padding-right:20px;padding-top:34px}
  #location{padding:49px 0 9px;text-align:center}
  #lnb_layout{height:auto;min-height:327px;padding-bottom:70px}
  .navigation{padding-top:20px}
  .navigation .layout,.sub-description .layout{padding:0 20px}
  .sub-description .layout:before{left:20px;bottom:-155px}
  .sub-description .sub-obj{width:302px;height:224px;top:-37px}
  
}


@media screen and (max-width:750px){
  .sub-description .layout::before{display:none}
  
}

@media screen and (max-width:600px){

  #lnb_layout{padding-top: 78px;}
  /* .sub-description,.sub-description .layout{height:100%} */
  .navigation,.sub-description .dsc{display:none}
  .sub-description .depth1_title{text-align: center; padding-top: 14px; margin-top: 0;}
   .sub-description .sub-obj{
    position: absolute;
    top: auto;
    right:auto;
    left: 50%;
    transform: translateX(-50%);
    width: 177px;height: 130px;bottom:-196px;

    }
    .sub-description .sub-obj:after{bottom: 0;}
    #lnb_layout .utile_wrap{margin-top: 7px;text-align: center;}
}

@media(max-width:500px){

  #lnb_layout{min-height: 260px;  padding-top: 73px; padding-bottom: 104px;}
  .sub-description .depth1_title{font-size: 27px; padding-top: 7px;}
  .sub-description .sub-obj{width:159px;height:116px;bottom: -153px;}
}


@media screen and (max-width:400px){
    #svisual_layout .svisual_wrap .subvisual-layout img {margin: -20px 0 0;}
    #location{padding-top: 30px;}
    #location .page__title{text-align: center; font-size: 20px; margin-bottom: 5px;}
   
    
}


/* depth4 */

.tabmenu__4th{overflow:hidden;position:relative;margin:0 0 20px}
.tabmenu__4th:after{display:block;clear:both;visibility:hidden;content:''}
.tabmenu__4th li{display:table;float:left;position:relative;margin-right:49px}

.tabmenu__4th li a{display:table-cell;position:relative;z-index:0;transition:all .3s;padding: 11px 0 5px;cursor: pointer;}
.tabmenu__4th li a:hover,.tabmenu__4th li a:focus{}
.tabmenu__4th li a span{display:block;position:relative;width:100%;line-height:1.1;font-weight:700;font-size: 18px; padding-bottom: 7px;}
.tabmenu__4th li.on a span,
.tabmenu__4th li a:hover span,.tabmenu__4th li a:focus span{color:#4478FF}
.tabmenu__4th li.on a span:after,
.tabmenu__4th li a span:after{content:'';display:inline-block; width:0%; height:4px;background-color:#4478FF; border-radius: 5px; position: absolute;left:0;bottom: 0; transition: 0.3s;}
.tabmenu__4th li.on a span:after,
.tabmenu__4th li a:hover span:after,.tabmenu__4th li a:focus span:after{width:100%}

.tabmenu__4th li a:active,.tabmenu__4th li a:focus,.tabmenu__4th li a:hover{z-index:1;border-color:#48546d;background:none;color:#48546d}
.tabmenu__4th li a[target=_blank] span:after{position:relative;right:auto;top:50%;width:10px;height:10px;background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2 0H0V10H10V5.8H8.8V8.8H1.2V1.2H4.2V0Z' fill='%23C0C0C0'/%3E%3Cpath d='M5.4 0H10V1.2H5.4V0Z' fill='%23C0C0C0'/%3E%3Cpath d='M10 0V4.6H8.8V0H10Z' fill='%23C0C0C0'/%3E%3Cpath d='M9.41553 1.4061L5.9671 4.85453L5.1609 4.04833L8.60932 0.5999L9.41553 1.4061Z' fill='%23C0C0C0'/%3E%3C/svg%3E%0A") no-repeat;content:'';display: inline-block; border-radius: 0; margin-left: 5px;}
.tabmenu__4th li a[target=_blank] span:after{}

#tab_moType1{display:block;position: relative;z-index: 15;}
 #tab_moType1 .title{display:none}
#tab_moType1.mobile ul{width:100%;margin:0;/* padding:5px 0 10px; *//* border-width:0 1px 1px 1px; *//* border-style: solid; *//* border-color: #cbcbcb; */}
#tab_moType1.mobile ul li{display:none;float:none;width:100%;margin: 0;border-left: 1px solid #cdcdcd;border-right: 1px solid #cdcdcd;}
#tab_moType1.mobile ul li:last-child{border-bottom:1px solid #cdcdcd; padding-bottom:10px}
#tab_moType1.mobile ul li:first-child{padding-top: 5px;}
#tab_moType1.mobile ul li a{display:block;height:auto;margin:0;padding:9px 22px 0;font-size:16px}
#tab_moType1.mobile ul li.on a{}
#tab_moType1.mobile .title{display:block;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb}
#tab_moType1.mobile .title a{display:block;position:relative;padding:15px 47px 13px 22px;font-size:18px;font-weight:600;color:#323330}
#tab_moType1.mobile .title a:before{display:block;position:absolute;top:50%;right:10px;width:14px;height:9px;margin-top:-3px;background-image:url(/pcms/common/images/ir/arrow_tab.png);background-repeat:no-repeat;background-position:0 -8px;content:''}
#tab_moType1.mobile .title a.on:before{background-position:-23px -8px}
#tab_moType1.mobile .tab-ul li a span{padding:18px 50px 18px 22px} 

#tab_moType1.mobile .tabmenu__4th li a span{display:inline-block;width:auto; font-size: 16px;}



